@import url("https://cdn.piorra.ir/fonts/iransans/css/iransans.php?license=QB72M"); @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500"); @import "https://fonts.googleapis.com/icon?family=Material+Icons"; legend,td,th {
    padding: 0
}

a,a:active,a:focus {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out
}

pre,textarea {
    overflow: auto;
    transition: .3s cubic-bezier(.2,0,.4,1);
}

.center,.row,sub,sup {
    position: relative
}

.tile,a,a:active,a:focus,a:hover,input:focus,textarea {
    outline: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-color: #fafafa;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,optgroup,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

h1,h2 {
    font-weight: 300
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0
}

a,body,h1,h2,h3,h4,h5,input,label,p {
    color: #444;
    font-kerning: initial;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: inherit;
    word-wrap: break-word
}

.footnote,.footnote>a {
    font-family: courier-prime,monospace
}

::-moz-selection,::-webkit-selection,::selection {
    background-color: #e06;
    color: #fff;
    text-shadow: none
}

p {
    line-height: 2em
}

.footnote {
    color: #aaa;
    display: inline-block;
    font-size: .9em;
    margin: .5em auto;
    width: 100%
}

.footnote>a {
    font-size: inherit
}

.footnote.right {
    float: right;
    text-align: right
}

.footnote.left {
    float: left;
    text-align: left
}

h1,h2,h3,h4,h5 {
    color: #5e5e5e
}

h1 {
    font-size: 3.5em
}

h2 {
    font-size: 2.5em
}

h3 {
    font-size: 2em;
    font-weight: 400
}

h4,h5 {
    font-weight: 500
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.1em
}

pre,table {
    font-weight: 400;
    font-family: courier-prime,monospace
}

h1 a,h2 a,h3 a,h4 a,h5 a {
    font-size: inherit
}

code {
    font-family: courier-prime,monospace;
    font-size: 90%
}

pre {
    margin: .5em 0;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.4),inset 0 1px 2px 0 rgba(0,0,0,.2),inset 0 0 0 1px rgba(0,0,0,.15);
    overflow-x: scroll;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all
}

pre>span.comment {
    opacity: .5;
    padding-left: 8px
}

pre::-webkit-scrollbar {
    display: none
}

.center,form,hr,label,textarea {
    display: block
}

a {
    background-color: transparent;
    cursor: pointer;
    color: #e06;
    text-decoration: underline;
    transition: all .1s ease-out
}

table,table>tbody>tr:nth-child(even),table>thead>tr {
    background-color: #fafafa
}

.button,.button>span,.collapse-link,.tile>span,a:active,a:focus,a:hover,button,button>span,footer a,header a,header a:focus,header a:hover {
    text-decoration: none
}

a:active,a:focus {
    color: #9af;
    transition: all .1s ease-out
}

a:active,a:hover {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

a:visited {
    opacity: .8
}

ol,ul {
    font-size: 1em;
    line-height: 1.7em;
    padding: 0;
    color: inherit;
    margin: 0 2.25em
}

ol>li,ul>li {
    padding-left: .25em
}

ol>h3,ul>h3 {
    margin: .5em 0
}

ol.contents,ul.contents {
    margin: 2em;
    font-size: 110%
}

ol.contents>h4,ul.contents>h4 {
    margin-left: -1em
}

ol.contents>li,ul.contents>li {
    margin: .5em 0
}

hr {
    box-sizing: content-box;
    border: none;
    width: 100%;
    height: 1px;
    margin: 36px auto 35px;
    border-bottom: 1px dashed #e6e6e6
}

section>hr {
    border-bottom: 1px solid #e6e6e6;
    width: 10%
}

.separator {
    width: 100%;
    text-align: center;
    font-size: 125%;
    color: #e1e1e1;
    line-height: 96px;
    height: 96px
}

footer a:hover,footer span {
    color: #aaa
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    margin: 1em auto;
    padding: 1em;
    text-align: left;
    width: 100%
}

table>thead {
    font-weight: 700;
    border: none
}

table>tbody>tr td,table>tbody>tr th,table>thead>tr td,table>thead>tr th {
    border-top: 1px solid #e1e1e1;
    padding: 8px;
    vertical-align: top
}

table>tbody>tr>td:nth-child(1),table>tbody>tr>th:nth-child(1),table>thead>tr>td:nth-child(1),table>thead>tr>th:nth-child(1) {
    width: 30%;
    min-width: 6em
}

table>tbody>tr>td:nth-child(3),table>tbody>tr>th:nth-child(3),table>thead>tr>td:nth-child(3),table>thead>tr>th:nth-child(3) {
    width: 40%;
    min-width: 8em
}

table>tbody>tr.optional>td,table>thead>tr.optional>td {
    font-style: italic;
    opacity: .8
}

table>tbody>tr:nth-child(odd) {
    background-color: #f5f5f5
}

input,textarea {
    background-color: #fff;
    padding: 2px 4px;
    margin: .5em .25em;
    box-shadow: none
}

form {
    max-width: 100%;
    margin: 0
}

textarea {
    resize: vertical;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 1em;
    border-radius: .25em;
    width: 100%;
    /*max-width:37em*/
}

img,img.center {
    max-width: 100%
}

textarea:focus {
    color: #444;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.2)
}

@media only screen and (max-width: 800px) {
    textarea {
        margin:.5em 0;
        width: 96%
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%
}

label {
    font-weight: 700;
    line-height: 2em
}

input {
    border: 1px solid #ccc;
    height: 2em;
    width: 18em;
    border-radius: .25em;
    transition: .3s cubic-bezier(.2,0,.4,1);
}

input:focus {
    border: 1px solid #e06;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.2)
}

@media only screen and (max-width: 600px) {
    input {
        margin:.5em 0;
        width: 96%
    }
}

input::-webkit-input-placeholder {
    color: #c4c4c4
}

input:-moz-placeholder {
    color: #c4c4c4
}

input::-moz-placeholder {
    color: #c4c4c4
}

input:-ms-input-placeholder {
    color: #c4c4c4
}

textarea::-webkit-input-placeholder {
    color: #c4c4c4
}

textarea:-moz-placeholder {
    color: #c4c4c4
}

textarea::-moz-placeholder {
    color: #c4c4c4
}

textarea:-ms-input-placeholder {
    color: #c4c4c4
}

.center {
    margin-left: auto;
    margin-right: auto
}

.col,.col.half,.full-width {
    display: inline-block
}

.text-center {
    text-align: center
}

.left {
    float: left
}

.right {
    float: right
}

.col {
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.col.half {
    width: 48%
}

.col.half.left {
    margin-right: 2%
}

.col.half.right {
    margin-left: 2%
}

.col.third {
    width: 30%;
    margin: 0 1%
}

.col.s1of4 {
    float: left;
    margin: 0 1%;
    width: 23%
}

.full-width {
    width: 100%;
    margin: 0
}

/*img {*/
    /*vertical-align: top;*/
    /*border: none;*/
    /*display: block*/
/*}*/

.tile>img,.tile>span,.tile>svg,header a,header span,video {
    vertical-align: middle
}

img.center {
    margin: 1em auto;
    border-radius: 4px
}

video {
    width: 100%;
    max-width: 800px;
    margin: 3em 2em;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3)
}

.emote {
    display: inline-block
}

.emote>svg path {
    fill: #919191
}

.emote.small {
    width: 16px;
    height: 16px
}

.emote.large {
    margin-top: 2em;
    width: 128px;
    height: 128px
}

.row {
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
}

.badge,.button,.top-arrow,button,footer a,footer span,nav a,nav span {
    display: inline-block
}

.top-arrow,footer,footer span.root {
    width: 100%;
    text-align: center
}

header a,header span {
    color: #5e5e5e;
    font-size: 3em;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap
}

header {
    /*padding: 24px 0;*/
    /*overflow: hidden*/
    margin-bottom: 50px;
}

header a.arrow {
    font-size: 2em;
    margin-left: -.25em;
    margin-right: .5em;
    margin-top: -2px
}

header a:active,header a:focus,header a:hover {
    color: rgba(94,94,94,.5)
}

nav {
    background-color: #fafafa;
    color: #5e5e5e;
    min-height: 46px;
    border-bottom: 1px dashed #e6e6e6
}

nav a,nav span {
    text-shadow: none;
    font-weight: 500;
    padding: 0 16px;
    z-index: 10;
    height: 46px;
    line-height: 47px
}

nav a.chevron,nav span.chevron {
    padding: 0 .5em;
    opacity: .4
}

nav a>svg,nav span>svg {
    fill: #5e5e5e;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

nav a,nav a:focus,nav a:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

nav a {
    text-decoration: none;
    transition: all .2s ease-out
}

nav a.chevron {
    opacity: 1
}

nav a:focus,nav a:hover {
    background-color: #ededed;
    color: #5e5e5e;
    transition: all .2s ease-out
}

nav a:focus>svg,nav a:hover>svg,nav a>svg {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

nav a:focus>svg,nav a:hover>svg {
    fill: #5e5e5e;
    transition: all .2s ease-out
}

nav a>svg {
    fill: #e06;
    transition: all .2s ease-out
}

.top-arrow:focus,.top-arrow:hover,.top-arrow>svg {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

.top-arrow {
    border-radius: .25em
}

.top-arrow>svg {
    height: 64px;
    fill: #e1e1e1;
    transition: all .2s ease-out
}

.top-arrow:focus,.top-arrow:hover {
    background-color: #f5f5f5;
    transition: all .2s ease-out
}

.carousel .carousel-control:active,.carousel .carousel-control:focus,.top-arrow:focus>svg,.top-arrow:hover>svg {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

.top-arrow:focus>svg,.top-arrow:hover>svg {
    fill: #e06;
    transition: all .2s ease-out
}

section {
    margin: 2em 0
}

footer {
    margin-top: 2em;
    min-height: 96px;
    padding: 2em 0
}

footer a,footer span {
    font-family: courier-prime,monospace
}

footer span:before {
    content: "•";
    padding: 0 1em
}

footer span.root a:before,footer span.root:before,footer span:nth-child(1):before {
    content: ""
}

footer span.root:before {
    padding: 0
}

footer span.root a {
    opacity: .5;
    color: #aaa;
    margin-top: 2em
}

footer span.root a:before {
    padding-left: 1em
}

footer span.root a:hover {
    opacity: 1
}

.badge {
    margin: .5em 1em;
    -webkit-transition: all 0 ease-out;
    -moz-transition: all 0 ease-out;
    -ms-transition: all 0 ease-out;
    -o-transition: all 0 ease-out;
    transition: all 0 ease-out
}

.button,.button>span,button,button>span {
    color: #444;
    font-family: soleil,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    text-shadow: 0 1px rgba(255,255,255,.8)
}

#full-width-dropdown.expand>.collapse-link,.infobar {
    font-family: courier-prime,monospace;
    font-weight: 700
}

.button,button {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    border-radius: 14px;
    background: linear-gradient(to bottom,#f5f5f5,#e8e8e8);
    border: none;
    height: 28px;
    min-width: 96px;
    margin: .25em .125em;
    padding: 0 calc(96px / 4);
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2),inset 0 2px 2px 0 rgba(255,255,255,.8),inset 0 -2px 1px 0 rgba(0,0,0,.05),inset 0 -1px 1px 0 rgba(0,0,0,.05),0 1px 0 0 rgba(0,0,0,.1)
}

.button:focus,.button:hover,button:focus,button:hover {
    background: linear-gradient(to bottom,#fff,#ededed)
}

.button:focus,button:focus {
    box-shadow: inset 0 0 0 1px #9af,0 1px 1px 0 rgba(153,170,255,.5),inset 0 2px 2px 0 rgba(255,255,255,.8),inset 0 -2px 1px 0 rgba(237,237,237,.3),inset 0 -1px 1px 0 rgba(237,237,237,.3),0 1px 0 0 rgba(237,237,237,.3);
    color: #444
}

.button:focus>span,button:focus>span {
    color: #444
}

.button:active,button:active {
    background: linear-gradient(to bottom,#ededed,#f5f5f5);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.8),inset 0 0 0 1px rgba(0,0,0,.1),inset 0 1px 2px 0 rgba(0,0,0,.5);
    color: #444
}

.button:active>span,button:active>span {
    color: #444
}

.button.large,button.large {
    height: 37.24px;
    line-height: 37.24px;
    min-width: 127.68px;
    width: 127.68px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    border-radius: 21px
}

@media only screen and (max-width: 600px) {
    .button,button {
        width:60%;
        margin: .5em 10%;
        padding: 0 10%;
        height: 37.24px;
        line-height: 37.24px;
        -webkit-border-radius: 18.62px;
        -moz-border-radius: 18.62px;
        -ms-border-radius: 18.62px;
        border-radius: 18.62px
    }
}

.carousel,.carousel .carousel-inner {
    width: 100%;
    height: auto;
    position: relative
}

.carousel {
    margin: 2em auto
}

.carousel .carousel-inner {
    overflow: hidden;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.carousel .carousel-inner>.item {
    width: 90%;
    margin: 0 5%;
    position: relative;
    display: none;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.carousel .carousel-inner>.item>a>img,.carousel .carousel-inner>.item>img {
    margin: 0 auto;
    display: block
}

.carousel .carousel-inner>.item.active,.carousel .carousel-inner>.item.next,.carousel .carousel-inner>.item.prev {
    display: block
}

.carousel .carousel-inner>.item.active {
    left: 0
}

.carousel .carousel-inner>.item.active.left {
    left: -100%
}

.carousel .carousel-inner>.item.active.right {
    left: 100%
}

.carousel .carousel-inner>.item.next {
    position: absolute;
    left: 100%
}

.carousel .carousel-inner>.item.next.left {
    left: 0
}

.carousel .carousel-inner>.item.prev {
    position: absolute;
    left: -100%
}

.carousel .carousel-inner>.item.prev.right {
    left: 0
}

.carousel .carousel-control {
    position: absolute;
    top: 25%;
    opacity: .6;
    display: inline-block;
    padding: .5em;
    border-radius: 8px
}

.carousel .carousel-control>svg {
    fill: #444
}

.carousel .carousel-control:active,.carousel .carousel-control:focus {
    transition: all .2s ease-out
}

.carousel .carousel-control:hover,.hide,.show {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

.carousel .carousel-control:active>svg,.carousel .carousel-control:focus>svg {
    fill: #000
}

.carousel .carousel-control:hover {
    transition: all .2s ease-out
}

.carousel .carousel-control:hover>svg {
    fill: #e06
}

.carousel .carousel-control.left {
    right: auto;
    left: calc(32px * -1);
    float: left
}

.carousel .carousel-control.right {
    left: auto;
    right: calc(32px * -1);
    float: right
}

.carousel-caption {
    display: block;
    width: 80%;
    margin: 2em 10% 0;
    text-transform: uppercase;
    font-size: 90%;
    opacity: .5
}

@media only screen and (max-width: 848px) {
    .carousel {
        width:90%
    }
}

.expand {
    width: 100%;
    display: inline-block;
    border-radius: .5em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.8),inset 0 1px 1px 0 rgba(0,0,0,.1),inset 0 0 1px 0 rgba(0,0,0,.2);
    margin: .5em auto
}

.expand i {
    margin-left: .25em;
    -webkit-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms
}

.expand i.active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms
}

.collapse-link {
    line-height: 1.2em;
    font-size: 1em;
    display: block;
    padding: .5em;
    margin: 0;
    color: #444
}

.collapse,.collapse.in,.collapsing {
    background-color: #fff;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.3);
    border-radius: 0 0 .25em .25em;
    margin: 0;
    padding: .5em
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}

#full-width-dropdown.expand {
    margin: 1em auto;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0
}

#full-width-dropdown.expand>.collapse-link {
    padding: .5em 0;
    display: block;
    background-color: #fafafa;
    color: #444;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 38px
}

.infobar,.infobar a {
    color: #fff
}

#full-width-dropdown.expand>.collapse-link>i.rotate {
    margin: 5px 12px 5px 5px;
    height: 24px;
    width: 24px;
    float: left;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#full-width-dropdown.expand>.collapse-link>i.rotate>svg path {
    fill: #444
}

#full-width-dropdown.expand>.collapse-link>i.rotate.active {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#full-width-dropdown.expand>.collapse,#full-width-dropdown.expand>.collapse.in,#full-width-dropdown.expand>.collapsing {
    border: none;
    background-color: #fafafa;
    box-shadow: none
}

.hide,.show {
    display: inline-block;
    transition: all .2s ease-out
}

.hide.hidden,.show.hidden,.tile:focus,.tile:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

.hide.hidden,.show.hidden {
    display: none;
    transition: all .2s ease-out
}

.infobar {
    background-color: #1E97D3;
    border-radius: .25em;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 1em auto;
    padding: .5em 5%;
    text-align: center;
    width: 90%;
    z-index: 10
}

.infobar span {
    display: block;
    width: 90%;
    margin: 0 5%
}

.tile,.tile>span {
    display: inline-block
}

.infobar.warning {
    background-color: #E1603F
}

.infobar.error {
    background-color: #CE483E
}

.tile {
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin: 8px;
    height: 96px;
    text-align: center;
    width: 200px
}

.tile>span {
    color: #444;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-top: calc((96px / 2) - (24px / 2))
}

.tile:focus,.tile:hover {
    border-color: transparent;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    transition: all .2s ease-out
}

.tile:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4),0 3px 8px 0 rgba(0,0,0,.1)
}

.tile:focus {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(238,0,102,.3)
}

.tile:active {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.tile>img,.tile>svg {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
    margin-top: calc((96px / 2) - (48px / 2))
}

.tile>svg {
    fill: #fff
}

@media only screen and (max-width: 500px) {
    .tile {
        margin:4px 2px;
        width: 45%
    }

    .tile>span {
        font-size: calc(24px * .8);
        line-height: calc(24px * .8);
        width: 100%
    }

    .tile>svg {
        height: calc(48px * .75);
        margin-top: calc((96px / 2) - ((48px * .75)/ 2))
    }
}

@media only screen and (max-width: 848px) {
    header {
        padding:12px 0
    }

    hr {
        margin: 8px auto 7px
    }

    section {
        margin: 1em auto
    }

    footer {
        padding: 1em 0
    }

    footer span {
        width: 100%;
        text-align: left;
        margin: .75em auto;
        display: block;
        float: left
    }

    footer span:before {
        content: "";
        padding: 0
    }

    .row {
        width: 90%;
        margin: 0 5%
    }

    #extraneous,.extraneous {
        display: none
    }
}

header {
    background-color: #e06;
    border-bottom: none;
    /*height: 128px*/
    height: calc(15vw - 6.5vw)
}

#cr {
    color: black;
    font-size: 1.5em
}

.ltr {
    direction: ltr!important;
}

a {
    text-decoration: none
}

.hidden {
    display: none!important;
}

#loader {
    /*height: calc(100vh - 170px);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/*body{background: url(tehran.jpg);background-size: cover;background-position: 50% 50%;background-blend-mode: luminosity;background-color: #f1f1f1;background-size: 100%}*/
.aboutPage {
    color: gray
}

#chl {
    font-size: 2em
}

.PHP {
    height: 1em
}

.HTML {
    height:1em
}

.CSS {
    height: 1em
}

.JavaScript {
    height: 1em
}

.stars {
    float: right;
    color: rgb(68,68,68);
}

.language {
    float: left;
    font-size: .7em;
    margin-top: 5px;
}

.language::after{
    content: attr(data-lang);
}

.language::before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 1em;
    margin-top: -.1em;
    position: relative;
    bottom: -0.1em;
}

.language[data-lang='PHP']::before{
    background: #3f51b5;
}

.language[data-lang='JavaScript']::before{
    background: #ffeb3b;
}

.language[data-lang='HTML']::before{
    background: #ff5722;
}

.language[data-lang='CSS']::before{
    background: #673ab7;
}

.back {
    width: 96px;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%
}

.back .material-icons {
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin: 31px;
    font-family: 'Material Icons' !important;
}

.projectd i{
    display: block;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
}

.en:not(.material-icons) {
    font-family: 'Roboto Mono'!important;
    direction: ltr!important;
}

.fa:not(.material-icons) {
    font-family: IRANSans!important;
    direction: rtl!important;
}

.en #chl{
    font-family: IRANSans!important;
}

.fa #chl{
    font-family: 'Roboto Mono'!important;
}

.fa #projects_d {
    direction: ltr;
    font-family: 'Roboto Mono';
}

#pic{
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    width: 15vw;
    height:15vw;
}

.avatar_pic{
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
}

footer{
    background: #d8d8d8;
    width: 100%;
    /*height:5vw;*/
    padding: 5px;
    margin: 1px;
    border-top: dashed;
    position: relative;

}

#name{
    margin-bottom: 0px;
}

.vas{
    vertical-align: sub;
}

#location , #business {
    font-weight: bold;
}
