/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/**
 * Remove default margin.
 */
body {
    margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover, a:focus {
    outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
    border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    box-sizing: content-box;
    height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

body,p,h1,h2,h3,h4,h5,a,label,input{color:#444;font-family:"soleil",sans-serif;font-kerning:initial;font-size:16px;font-weight:300;text-rendering:optimizeLegibility;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:inherit;word-wrap:break-word}body{background-color:#fafafa;height:100%;overflow-x:hidden;overflow-y:scroll}::selection,::-moz-selection,::-webkit-selection{background-color:#e06;color:#fff;text-shadow:none}p{line-height:2em}.footnote{color:#aaa;display:inline-block;font-family:"courier-prime",monospace;font-size:0.9em;margin:0.5em auto;width:100%}.footnote>a{font-family:"courier-prime",monospace;font-size:inherit}.footnote.right{float:right;text-align:right}.footnote.left{float:left;text-align:left}h1,h2,h3,h4,h5{color:#5e5e5e}h1{font-size:3.5em;font-weight:300}h2{font-size:2.5em;font-weight:300}h3{font-size:2em;font-weight:400}h4{font-size:1.5em;font-weight:500}h5{font-size:1.10em;font-weight:500}h1 a,h2 a,h3 a,h4 a,h5 a{font-size:inherit}code{font-family:"courier-prime",monospace;font-size:90%}pre{font-family:"courier-prime",monospace;margin:0.5em 0;background-color:#fff;border-radius:4px;font-size:14px;font-weight:400;line-height:20px;padding:10px 16px;box-shadow:0 1px 0 0 rgba(255,255,255,0.4),inset 0 1px 2px 0 rgba(0,0,0,0.2),inset 0 0 0 1px rgba(0,0,0,0.15);overflow-x:scroll;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;word-break:break-all}pre>span.comment{opacity:0.5;padding-left:8px}pre::-webkit-scrollbar{display:none}a{cursor:pointer;color:#e06;outline:none;text-decoration:underline;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out}a:active,a:focus{text-decoration:none;color:#9af;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out}a:hover,a:active{text-decoration:none;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out}a:visited{opacity:0.8}ul,ol{font-size:1em;line-height:1.7em;padding:0;color:inherit;margin:0 2.25em}ul>li,ol>li{padding-left:0.25em}ul>h3,ol>h3{margin:0.5em 0 0.5em 0}ul.contents,ol.contents{margin:2em;font-size:110%}ul.contents>h4,ol.contents>h4{margin-left:-1em}ul.contents>li,ol.contents>li{margin:0.5em 0}hr{display:block;border:none;width:100%;height:1px;margin:36px auto 35px auto;border-bottom:1px dashed #e6e6e6}section>hr{border-bottom:1px solid #e6e6e6;width:10%}.separator{width:100%;text-align:center;font-size:125%;color:#e1e1e1;line-height:96px;height:96px}table{background-color:#fafafa;border:1px solid #e1e1e1;font-family:"courier-prime",monospace;font-size:14px;font-weight:400;margin:1em auto;padding:1em;text-align:left;width:100%}table>thead{font-weight:bold;border:none}table>thead>tr{background-color:#fafafa}table>tbody>tr th,table>tbody>tr td,table>thead>tr th,table>thead>tr td{border-top:1px solid #e1e1e1;padding:8px;vertical-align:top}table>tbody>tr>th:nth-child(1),table>tbody>tr>td:nth-child(1),table>thead>tr>th:nth-child(1),table>thead>tr>td:nth-child(1){width:30%;min-width:6em}table>tbody>tr>th:nth-child(3),table>tbody>tr>td:nth-child(3),table>thead>tr>th:nth-child(3),table>thead>tr>td:nth-child(3){width:40%;min-width:8em}table>tbody>tr.optional>td,table>thead>tr.optional>td{font-style:italic;opacity:0.8}table>tbody>tr:nth-child(even){background-color:#fafafa}table>tbody>tr:nth-child(odd){background-color:#f5f5f5}form{max-width:100%;display:block;margin:0}textarea{resize:vertical;box-shadow:none;display:block;background-color:#fff;border:1px solid rgba(0,0,0,0.15);font-size:1em;padding:2px 4px;margin:0.5em 0.25em;border-radius:0.25em;outline:none;width:100%;max-width:37em}textarea:focus{color:#444;border:1px solid rgba(0,0,0,0.2);box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2)}@media only screen and (max-width: 800px){textarea{margin:0.5em 0;width:96%}}fieldset{border:0;margin:0;padding:0;width:100%}label{font-weight:bold;display:block;line-height:2em}input{box-shadow:none;padding:none}input{background-color:#fff;border:1px solid #ccc;padding:2px 4px;margin:0.5em 0.25em;height:2em;width:18em;border-radius:0.25em;box-shadow:none}input:focus{outline:none;border:1px solid #e06;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2)}@media only screen and (max-width: 600px){input{margin:0.5em 0;width:96%}}input::-webkit-input-placeholder{color:#c4c4c4}input:-moz-placeholder{color:#c4c4c4}input::-moz-placeholder{color:#c4c4c4}input:-ms-input-placeholder{color:#c4c4c4}.center{display:block;position:relative;margin-left:auto;margin-right:auto}.text-center{text-align:center}.left{float:left}.right{float:right}.col{height:auto;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.col.half{width:48%;display:inline-block}.col.half.left{margin-right:2%}.col.half.right{margin-left:2%}.col.third{width:30%;margin:0 1%}.col.s1of4{float:left;margin:0 1%;width:23%}.full-width{display:inline-block;width:100%;margin:0}img{vertical-align:top;border:none;display:block;max-width:100%}img.center{margin:1em auto;max-width:100%;border-radius:4px}video{width:100%;max-width:800px;margin:3em 2em;vertical-align:middle;border:4px solid white;border-radius:4px;box-shadow:0 1px 2px 0 rgba(0,0,0,0.3)}.emote{display:inline-block}.emote>svg path{fill:#919191}.emote.small{width:16px;height:16px}.emote.large{margin-top:2em;width:128px;height:128px}.row{display:table;position:relative;margin:0 auto;width:720px}header span,header a{color:#5e5e5e;font-size:3em;font-weight:200;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:wrap}header{height:80px;padding:24px 0;background-color:#fafafa;overflow:hidden;border-bottom:1px dashed #e6e6e6}header a{text-decoration:none}header a.arrow{font-size:2em;margin-left:-0.25em;margin-right:0.5em;margin-top:-2px}header a:hover,header a:focus{text-decoration:none;color:rgba(94,94,94,0.5)}header a:active{color:rgba(94,94,94,0.5)}nav{background-color:#fafafa;color:#5e5e5e;min-height:46px;border-bottom:1px dashed #e6e6e6}nav a,nav span{display:inline-block;text-shadow:none;font-weight:500;padding:0 16px;z-index:10;height:46px;line-height:47px}nav a.chevron,nav span.chevron{padding:0 0.5em;opacity:0.4}nav a>svg,nav span>svg{fill:#5e5e5e;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}nav a{text-decoration:none;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}nav a.chevron{opacity:1}nav a:focus,nav a:hover{background-color:#ededed;color:#5e5e5e;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}nav a:focus>svg,nav a:hover>svg{fill:#5e5e5e;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}nav a>svg{fill:#e06;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.top-arrow{display:inline-block;text-align:center;border-radius:0.25em;width:100%}.top-arrow>svg{height:64px;fill:#e1e1e1;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.top-arrow:focus,.top-arrow:hover{background-color:#f5f5f5;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.top-arrow:focus>svg,.top-arrow:hover>svg{fill:#e06;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}section{margin:2em 0}footer{margin-top:2em;min-height:96px;padding:2em 0;text-align:center;width:100%}footer a,footer span{font-family:"courier-prime",monospace}footer span{color:#aaa;display:inline-block}footer span:before{content:"•";padding:0 1em}footer span:nth-child(1):before{content:""}footer span.root{width:100%;text-align:center}footer span.root:before{content:"";padding:0}footer span.root a{opacity:0.5;color:#aaa;margin-top:2em}footer span.root a:before{content:"";padding-left:1em}footer span.root a:hover{opacity:1}footer a{display:inline-block;text-decoration:none}footer a:hover{color:#aaa}.badge{display:inline-block;margin:0.5em 1em;-webkit-transition:all 0 ease-out;-moz-transition:all 0 ease-out;-ms-transition:all 0 ease-out;-o-transition:all 0 ease-out;transition:all 0 ease-out}.badge.appstore{width:calc(135px * 1.25);height:calc(40px * 1.25);background-image:url("/images/scalable/AppStore-Badge.svg");background-size:100%;background-position:center;background-repeat:no-repeat;-webkit-transition:all 0 ease-out;-moz-transition:all 0 ease-out;-ms-transition:all 0 ease-out;-o-transition:all 0 ease-out;transition:all 0 ease-out}.badge.appstore:active,.badge.appstore:active:hover{background-image:url("/images/scalable/AppStore-Badge_active.svg");-webkit-transition:all 0 ease-out;-moz-transition:all 0 ease-out;-ms-transition:all 0 ease-out;-o-transition:all 0 ease-out;transition:all 0 ease-out}.badge.appstore:hover{background-image:url("/images/scalable/AppStore-Badge_hover.svg");-webkit-transition:all 0 ease-out;-moz-transition:all 0 ease-out;-ms-transition:all 0 ease-out;-o-transition:all 0 ease-out;transition:all 0 ease-out}button,.button,button>span,.button>span{color:#444;font-family:"soleil",sans-serif;font-size:14px;font-weight:600;line-height:27px;text-shadow:0 1px rgba(255,255,255,0.8);text-decoration:none}button,.button{-webkit-border-radius:14px;-moz-border-radius:14px;-ms-border-radius:14px;border-radius:14px;background:linear-gradient(to bottom, #f5f5f5, #e8e8e8);border:none;display:inline-block;height:28px;min-width:96px;margin:0.25em 0.125em;padding:0 calc(96px / 4);outline:none;text-align:center;text-decoration:none;text-transform:uppercase;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 2px 2px 0 rgba(255,255,255,0.8),inset 0 -2px 1px 0 rgba(0,0,0,0.05),inset 0 -1px 1px 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.1)}button:hover,.button:hover{background:linear-gradient(to bottom, #fff, #ededed)}button:focus,.button:focus{background:linear-gradient(to bottom, #fff, #ededed);box-shadow:inset 0 0 0 1px #9af,0 1px 1px 0 rgba(153,170,255,0.5),inset 0 2px 2px 0 rgba(255,255,255,0.8),inset 0 -2px 1px 0 rgba(237,237,237,0.3),inset 0 -1px 1px 0 rgba(237,237,237,0.3),0 1px 0 0 rgba(237,237,237,0.3);color:#444}button:focus>span,.button:focus>span{color:#444}button:active,.button:active{background:linear-gradient(to bottom, #ededed, #f5f5f5);box-shadow:0 1px 0 0 rgba(255,255,255,0.8),inset 0 0 0 1px rgba(0,0,0,0.1),inset 0 1px 2px 0 rgba(0,0,0,0.5);color:#444}button:active>span,.button:active>span{color:#444}button.large,.button.large{height:37.24px;line-height:37.24px;min-width:127.68px;width:127.68px;-webkit-border-radius:21px;-moz-border-radius:21px;-ms-border-radius:21px;border-radius:21px}@media only screen and (max-width: 600px){button,.button{width:60%;margin:0.5em 10%;padding:0 10%;height:37.24px;line-height:37.24px;-webkit-border-radius:18.62px;-moz-border-radius:18.62px;-ms-border-radius:18.62px;border-radius:18.62px}}.carousel{width:100%;height:auto;margin:2em auto;position:relative}.carousel .carousel-inner{position:relative;width:100%;height:auto;overflow:hidden;-webkit-transition:all 400ms ease-out;-moz-transition:all 400ms ease-out;-ms-transition:all 400ms ease-out;-o-transition:all 400ms ease-out;transition:all 400ms ease-out}.carousel .carousel-inner>.item{width:90%;margin:0 5%;position:relative;display:none;-webkit-transition:all 400ms ease-out;-moz-transition:all 400ms ease-out;-ms-transition:all 400ms ease-out;-o-transition:all 400ms ease-out;transition:all 400ms ease-out}.carousel .carousel-inner>.item>img,.carousel .carousel-inner>.item>a>img{margin:0 auto;display:block}.carousel .carousel-inner>.item.active,.carousel .carousel-inner>.item.next,.carousel .carousel-inner>.item.prev{display:block}.carousel .carousel-inner>.item.active{left:0}.carousel .carousel-inner>.item.active.left{left:-100%}.carousel .carousel-inner>.item.active.right{left:100%}.carousel .carousel-inner>.item.next{position:absolute;left:100%}.carousel .carousel-inner>.item.next.left{left:0}.carousel .carousel-inner>.item.prev{position:absolute;left:-100%}.carousel .carousel-inner>.item.prev.right{left:0}.carousel .carousel-control{position:absolute;top:25%;opacity:0.6;display:inline-block;padding:0.5em;border-radius:8px}.carousel .carousel-control>svg{fill:#444}.carousel .carousel-control:focus,.carousel .carousel-control:active{-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.carousel .carousel-control:focus>svg,.carousel .carousel-control:active>svg{fill:black}.carousel .carousel-control:hover{-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.carousel .carousel-control:hover>svg{fill:#e06}.carousel .carousel-control.left{right:auto;left:calc(32px * -1);float:left}.carousel .carousel-control.right{left:auto;right:calc(32px * -1);float:right}.carousel-caption{display:block;width:80%;margin:0 10%;margin-top:2em;text-transform:uppercase;font-size:90%;opacity:0.5}@media only screen and (max-width: 848px){.carousel{width:90%}}.expand{width:100%;display:inline-block;border-radius:0.5em;background-color:#fff;border:1px solid rgba(0,0,0,0.3);box-shadow:0 1px 0 0 rgba(255,255,255,0.8),inset 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 0 1px 0 rgba(0,0,0,0.2);margin:0.5em auto}.expand i{margin-left:0.25em;-webkit-transition-duration:350ms;-o-transition-duration:350ms;transition-duration:350ms}.expand i.active{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition-duration:350ms;-o-transition-duration:350ms;transition-duration:350ms}.collapse-link{line-height:1.2em;font-size:1em;display:block;padding:0.5em;margin:0;color:#444;text-decoration:none}.collapse,.collapse.in,.collapsing{background-color:#fff;box-shadow:inset 0 0 1px 0 rgba(0,0,0,0.3);border-radius:0 0 0.25em 0.25em;margin:0;padding:0.5em}.collapse{display:none}.collapse.in{display:block}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height, visibility;-o-transition-property:height, visibility;transition-property:height, visibility}#full-width-dropdown.expand{margin:1em auto;padding:0;border:none;box-shadow:none;border-radius:0}#full-width-dropdown.expand>.collapse-link{padding:0.5em 0;display:block;background-color:#fafafa;color:#444;font-family:"courier-prime",monospace;font-weight:700;font-size:16px;text-transform:uppercase;line-height:38px}#full-width-dropdown.expand>.collapse-link>i.rotate{margin:5px;margin-right:12px;height:24px;width:24px;float:left;display:inline-block;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}#full-width-dropdown.expand>.collapse-link>i.rotate>svg path{fill:#444}#full-width-dropdown.expand>.collapse-link>i.rotate.active{-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}#full-width-dropdown.expand>.collapse,#full-width-dropdown.expand>.collapse.in,#full-width-dropdown.expand>.collapsing{border:none;background-color:#fafafa;box-shadow:none}.show,.hide{display:inline-block;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.show.hidden,.hide.hidden{display:none;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.infobar{background-color:#1E97D3;border-radius:0.25em;color:#fff;display:inline-block;font-family:"courier-prime",monospace;font-size:14px;font-weight:bold;line-height:18px;margin:1em auto;padding:0.5em 5%;text-align:center;width:90%;z-index:10}.infobar span{display:block;width:90%;margin:0 5%}.infobar a{color:#fff}.infobar.warning{background-color:#E1603F}.infobar.error{background-color:#CE483E}ul.levelbars{display:block;padding:1em;margin:0;list-style:none}ul.levelbars>li{display:inline-block;height:1em;border-radius:0.5em;width:100%;padding:0;margin:1.5em auto 0.5em auto;background-color:rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(255,255,255,0.8)}ul.levelbars>li>span{display:inline-block;float:left;line-height:1.2em;font-size:1.125em;margin-top:-1.5em;text-transform:uppercase;color:#444}ul.levelbars>li>span.right{font-weight:bold;float:right}.level{border-top-left-radius:0.5em;border-bottom-left-radius:0.5em;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.1);height:1em}.level.l1{width:10%;background-color:#f34235}.level.l2{width:20%;background-color:#ff5722}.level.l3{width:30%;background-color:#fe9700}.level.l4{width:40%;background-color:#fec006}.level.l5{width:50%;background-color:#feea3a}.level.l6{width:60%;background-color:#ccdb38}.level.l7{width:70%;background-color:#8ac249}.level.l8{width:80%;background-color:#4bae4f}.level.l9{width:90%;background-color:#1ea362}.level.l10{border-radius:0.5em;width:100%;background-color:#009DAF}#sharebox{display:block;width:100%;margin:2em auto;text-align:center;padding:0.5em 0}.share-button{display:inline-block;height:26px;width:auto;margin:2px 3px;border-radius:13px;color:#fff;padding:0 8px;background-color:#fff;background-image:linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(0,0,0,0.1));outline:none;box-shadow:none;text-decoration:none;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 -2px 1px 0 rgba(0,0,0,0.05),inset 0 -1px 1px 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.1)}.share-button>span{font-size:12px;line-height:26px;text-transform:uppercase;font-weight:700}.share-button>i{font-size:13px;margin:0 4px}.share-button>i,.share-button>span{margin:4px;vertical-align:middle;color:#fff;text-shadow:0 1px rgba(0,0,0,0.2)}.share-button>img,.share-button>svg{display:inline-block;float:left;margin:4px}.share-button:focus{background-image:none}.share-button:hover{background-image:linear-gradient(to bottom, rgba(255,255,255,0.4), transparent)}.share-button:active,.share-button:active:focus{background-image:linear-gradient(to top, rgba(255,255,255,0.3), rgba(0,0,0,0.1));transition:100ms;-webkit-transition:100ms}.share-button:active>span,.share-button:active:focus>span{color:#fff;text-shadow:0 1px rgba(0,0,0,0.2)}.share-button.email{background-color:#2BA38E}.share-button.facebook{background-color:#3B5998}.share-button.google-red{background-color:#DD4B39}.share-button.instagram{background-color:#316189}.share-button.pinterest{background-color:#cb2027}.share-button.reddit{background-color:#5C98D1}.share-button.tumblr{background-color:#32506D}.share-button.twitter{background-color:#55ACEE}.share-button.pocket{background-color:#EE4056}@media only screen and (max-width: 500px){.share-button{width:32px;height:32px;border-radius:16px;padding:0}.share-button>span{margin:0;padding:0;display:none}.share-button>i{font-size:16px;vertical-align:middle;text-align:center;line-height:33px;width:32px;margin:0;padding:0}}.tile{background-color:#fff;border-radius:7px;border:1px solid rgba(0,0,0,0.15);box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);display:inline-block;margin:8px;height:96px;text-align:center;outline:none;width:200px}.tile>span{color:#444;display:inline-block;font-size:24px;font-weight:500;line-height:26px;text-decoration:none;vertical-align:middle;margin-top:calc((96px / 2) - (24px / 2))}.tile:focus,.tile:hover{border-color:transparent;-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.tile:hover{box-shadow:0 2px 4px 0 rgba(0,0,0,0.4),0 3px 8px 0 rgba(0,0,0,0.1)}.tile:focus{box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(238,0,102,0.3)}.tile:active{box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);-webkit-transform:translateY(1px);transform:translateY(1px);-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out}.tile>svg,.tile>img{display:block;vertical-align:middle;margin:0 auto;height:48px;width:48px;margin-top:calc((96px / 2) - (48px / 2))}.tile>svg{fill:#fff}@media only screen and (max-width: 500px){.tile{margin:4px 2px;width:45%}.tile>span{font-size:calc(24px * 0.8);line-height:calc(24px * 0.8);width:100%}.tile>svg{height:calc(48px * 0.75);margin-top:calc((96px / 2) - ((48px * 0.75) / 2))}}@media only screen and (max-width: 848px){header{padding:12px 0}hr{margin:8px auto 7px auto}section{margin:1em auto}footer{padding:1em 0}footer span{width:100%;text-align:left;margin:0.75em auto;display:block;float:left}footer span:before{content:"";padding:0}.row{width:90%;margin:0 5%}.extraneous{display:none}#extraneous{display:none}}
header {
    background-color: #ee0066;
    border-bottom: none;
    height: 128px; }

a.avatar {
    display: block;
    margin: 12px auto;
    width: 96px;
    height: 96px;
    background: transparent url(/images/avatar/smirk.svg);
    background-size: 96px;
    z-index: 1;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
a.avatar:hover {
    background: transparent url(/images/avatar/grin.svg);
    z-index: 2;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
a.avatar:active {
    background: transparent url(/images/avatar/neutral.svg);
    z-index: 3;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
